In [20]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [21]:
dataset = [
['leite', 'cebola', 'manteiga', 'feijão', 'ovos', 'iogurte'],
['sal', 'cebola', 'manteiga', 'feijão', 'ovos', 'iogurte'],
['leite', 'maça', 'feijão', 'ovos'],
['leite', 'arroz', 'pipoca', 'feijão', 'iogurte'],
['pipoca', 'cebola', 'feijão', 'sorvete', 'ovos']
]

In [22]:
dataset

[['leite', 'cebola', 'manteiga', 'feijão', 'ovos', 'iogurte'],
 ['sal', 'cebola', 'manteiga', 'feijão', 'ovos', 'iogurte'],
 ['leite', 'maça', 'feijão', 'ovos'],
 ['leite', 'arroz', 'pipoca', 'feijão', 'iogurte'],
 ['pipoca', 'cebola', 'feijão', 'sorvete', 'ovos']]

In [23]:
# Transforma a ocorrencia do elemento em uma unica coluna sem repetição e retorna o booleano para a presença ou não do elemento em cada lista
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [24]:
df

,arroz,cebola,feijão,iogurte,leite,manteiga,maça,ovos,pipoca,sal,sorvete
0,False,True,True,True,True,True,False,True,False,False,False
1,False,True,True,True,False,True,False,True,False,True,False
2,False,False,True,False,True,False,True,True,False,False,False
3,True,False,True,True,True,False,False,False,True,False,False
4,False,True,True,False,False,False,False,True,True,False,True

In [25]:
# Usa o apriori
apriori(df, min_support=0.6, use_colnames=True)
freq_items = apriori(df, min_support=0.6, use_colnames=True)
freq_items['tamanho'] = freq_items['itemsets'].apply(lambda x: len(x))
freq_items
freq_items.columns = ['Suporte', 'ConjuntoItens', 'Tamanho']
freq_items
help(freq_items.apply)
help(apriori)
freq_items[freq_items['Suporte'] >= 0.6]

Help on method apply in module pandas.core.frame:

apply(func: 'AggFuncType', axis: 'Axis' = 0, raw: 'bool' = False, result_type=None, args=(), **kwargs) method of pandas.core.frame.DataFrame instance
    Apply a function along an axis of the DataFrame.

    Objects passed to the function are Series objects whose index is
    either the DataFrame's index (``axis=0``) or the DataFrame's columns
    (``axis=1``). By default (``result_type=None``), the final return type
    is inferred from the return type of the applied function. Otherwise,
    it depends on the `result_type` argument.

    Parameters
    ----------
    func : function
        Function to apply to each column or row.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis along which the function is applied:

        * 0 or 'index': apply function to each column.
        * 1 or 'columns': apply function to each row.

    raw : bool, default False
        Determines if row or column is passed as a Series or ndarray object:

        * ``False`` : passes each row or column as a Series to the
          function.
        * ``True`` : the passed function will receive ndarray objects
          instead.
          If you are just applying a NumPy reduction function this will
          achieve much better performance.

    result_type : {'expand', 'reduce', 'broadcast', None}, default None
        These only act when ``axis=1`` (columns):

        * 'expand' : list-like results will be turned into columns.
        * 'reduce' : returns a Series if possible rather than expanding
          list-like results. This is the opposite of 'expand'.
        * 'broadcast' : results will be broadcast to the original shape
          of the DataFrame, the original index and columns will be
          retained.

        The default behaviour (None) depends on the return value of the
        applied function: list-like results will be returned as a Series
        of those. However if the apply function returns a Series these
        are expanded to columns.
    args : tuple
        Positional arguments to pass to `func` in addition to the
        array/series.
    **kwargs
        Additional keyword arguments to pass as keywords arguments to
        `func`.

    Returns
    -------
    Series or DataFrame
        Result of applying ``func`` along the given axis of the
        DataFrame.

    See Also
    --------
    DataFrame.applymap: For elementwise operations.
    DataFrame.aggregate: Only perform aggregating type operations.
    DataFrame.transform: Only perform transforming type operations.

    Notes
    -----
    Functions that mutate the passed object can produce unexpected
    behavior or errors and are not supported. See :ref:`gotchas.udf-mutation`
    for more details.

    Examples
    --------
    >>> df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
    >>> df
       A  B
    0  4  9
    1  4  9
    2  4  9

    Using a numpy universal function (in this case the same as
    ``np.sqrt(df)``):

    >>> df.apply(np.sqrt)
         A    B
    0  2.0  3.0
    1  2.0  3.0
    2  2.0  3.0

    Using a reducing function on either axis

    >>> df.apply(np.sum, axis=0)
    A    12
    B    27
    dtype: int64

    >>> df.apply(np.sum, axis=1)
    0    13
    1    13
    2    13
    dtype: int64

    Returning a list-like will result in a Series

    >>> df.apply(lambda x: [1, 2], axis=1)
    0    [1, 2]
    1    [1, 2]
    2    [1, 2]
    dtype: object

    Passing ``result_type='expand'`` will expand list-like results
    to columns of a Dataframe

    >>> df.apply(lambda x: [1, 2], axis=1, result_type='expand')
       0  1
    0  1  2
    1  1  2
    2  1  2

    Returning a Series inside the function is similar to passing
    ``result_type='expand'``. The resulting column names
    will be the Series index.

    >>> df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)
       foo  bar
    0    1    2
    1    1    2
    2    1    2

    Passing ``result_type='broadcast'`` will ensure the same shape
    result, whether list-like or scalar is returned by the function,
    and broadcast it along the axis. The resulting column names will
    be the originals.

    >>> df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')
       A  B
    0  1  2
    1  1  2
    2  1  2

Help on function apriori in module mlxtend.frequent_patterns.apriori:

apriori(df, min_support=0.5, use_colnames=False, max_len=None, verbose=0, low_memory=False)
    Get frequent itemsets from a one-hot DataFrame

    Parameters
    -----------
    df : pandas DataFrame
      pandas DataFrame the encoded format. Also supports
      DataFrames with sparse data; for more info, please
      see (https://pandas.pydata.org/pandas-docs/stable/
           user_guide/sparse.html#sparse-data-structures)

      Please note that the old pandas SparseDataFrame format
      is no longer supported in mlxtend >= 0.17.2.

      The allowed values are either 0/1 or True/False.
      For example,

    ```
             Apple  Bananas   Beer  Chicken   Milk   Rice
        0     True    False   True     True  False   True
        1     True    False   True    False  False   True
        2     True    False   True    False  False  False
        3     True     True  False    False  False  False
        4    False    False   True     True   True   True
        5    False    False   True    False   True   True
        6    False    False   True    False   True  False
        7     True     True  False    False  False  False
    ```

    min_support : float (default: 0.5)
      A float between 0 and 1 for minumum support of the itemsets returned.
      The support is computed as the fraction
      `transactions_where_item(s)_occur / total_transactions`.

    use_colnames : bool (default: False)
      If `True`, uses the DataFrames' column names in the returned DataFrame
      instead of column indices.

    max_len : int (default: None)
      Maximum length of the itemsets generated. If `None` (default) all
      possible itemsets lengths (under the apriori condition) are evaluated.

    verbose : int (default: 0)
      Shows the number of iterations if >= 1 and `low_memory` is `True`. If
      >=1 and `low_memory` is `False`, shows the number of combinations.

    low_memory : bool (default: False)
      If `True`, uses an iterator to search for combinations above
      `min_support`.
      Note that while `low_memory=True` should only be used for large dataset
      if memory resources are limited, because this implementation is approx.
      3-6x slower than the default.


    Returns
    -----------
    pandas DataFrame with columns ['support', 'itemsets'] of all itemsets
      that are >= `min_support` and < than `max_len`
      (if `max_len` is not None).
      Each itemset in the 'itemsets' column is of type `frozenset`,
      which is a Python built-in type that behaves similarly to
      sets except that it is immutable
      (For more info, see
      https://docs.python.org/3.6/library/stdtypes.html#frozenset).

    Examples
    -----------
    For usage examples, please see
    http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/

    Suporte           ConjuntoItens  Tamanho
0       0.6                (cebola)        1
1       1.0                (feijão)        1
2       0.6               (iogurte)        1
3       0.6                 (leite)        1
4       0.8                  (ovos)        1
5       0.6        (cebola, feijão)        2
6       0.6          (cebola, ovos)        2
7       0.6       (feijão, iogurte)        2
8       0.6         (feijão, leite)        2
9       0.8          (ovos, feijão)        2
10      0.6  (cebola, ovos, feijão)        3

In [26]:
freq_items.columns = ['support', 'itemsets', 'tamanho']
association_rules(freq_items, metric='confidence')

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(cebola),(feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
1,(cebola),(ovos),0.6,0.8,0.6,1.0,1.25,0.12,inf
2,(iogurte),(feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
3,(leite),(feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
4,(ovos),(feijão),0.8,1.0,0.8,1.0,1.00,0.00,inf
5,(feijão),(ovos),1.0,0.8,0.8,0.8,1.00,0.00,1.0
6,"(cebola, ovos)",(feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,"(cebola, feijão)",(ovos),0.6,0.8,0.6,1.0,1.25,0.12,inf
8,(cebola),"(ovos, feijão)",0.6,0.8,0.6,1.0,1.25,0.12,inf